<section class="mt-50 referral-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 text-center">
                <div class="referral-banner-text">
                    <h2>A friend in need is a friend indeed.</h2>
                    <p>Refer a job! Help accelerate your friend's growth now! </p>
                    
                </div>
                <div class="referral-img">
                    <img src="./../../../assets/img/refer-new.png" alt="..">
                </div>
            </div>
           
        </div>
    </div>
</section>
<section class="referral-banner-steps">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="text-center">
                    <h2>A WIN-WIN REFERRAL</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-4">
                <div class="referral-steps-box text-center">
                    <div class="steps-box">
                    <img src="./../../../assets/img/career-growth.png" alt="..">
                </div>
                    <h4>CAREER GROWTH</h4>
                    <p>Jobket offers only duly verified jobs from good companies that have been carefully curated based our strict standards.</p>
                    <span></span>
                </div>
            </div>
            <div class="col-md-4 col-4">
                <div class="referral-steps-box text-center">
                    <div class="steps-box">
                    <img src="./../../../assets/img/joining-bonus.png" alt="..">
                </div>
                    <h4>JOINING BONUS</h4>
                    <p>Great talent opportunities shouldn’t be a cost to great job seekers like you! On Jobket, applicants conversely earn money 
                        by getting hired.
                    </p>
                    <span></span>
                </div>
            </div>
            <div class="col-md-4 col-4">
                <div class="referral-steps-box text-center">
                    <div class="steps-box">
                    <img src="./../../../assets/img/referal-rewards.png" alt="..">
                </div>
                    <h4>REFERRAL REWARD</h4>
                    <p>
                        You also can earn a huge referral reward when your friends get hired!
                        Refer a job that suits your friend and get reward. </p>
                        <span></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="why-refer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Simple and transparent</h2>
                <p>That's how our referral system works</p>
            </div>
        </div>
    </div>
</section>
<!-- mobile view start -->
<section class="mob-employee">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="employee-referal">
                        <h2>EMPLOYEE REFERRAL</h2>
                </div>
            </div>
            <div class="col-12 ">
                <div class="m-auto">
                <img class="mob-img" src="./../../../assets/img/complecated-procedure-mob.png" alt="..">
            </div>
        </div>
        </div>
    </div>
</section>
<section class="jobket-referl mob-employee">
    <div class="container">
        <div class="row">
            <div class="vs-mob">VS</div>
            <div class="col-12">
                <h2>JOBKET REFERRAL</h2>
            </div>
            <div class="col-12">
                <div class="m-auto">
                <img class="" src="./../../../assets/img/simple-easy-mob.png" alt="..">
            </div>
        </div>
        </div>
    </div>
</section>
<section class="mob-employee">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="employee-referal">
                    <h2>EMPLOYEE REFERRAL</h2>
                </div>
            </div>
            <div class="col-12 ">
                    <div class="m-auto">
                    <img class="mob-img" src="./../../../assets/img/uncertain-reward-mob.png" alt="..">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="jobket-referl mob-employee">
        <div class="container">
            <div class="row">
                <div class="vs-mob">VS</div>
                <div class="col-12">
                    <h2>JOBKET REFERRAL</h2>
                </div>
                <div class="col-12">
                    <div class="m-auto">
                    <div class="pr-reward-mob">
                            <img class="mob-img" src="./../../../assets/img/permissing-reward-mob.png" alt="..">
                        <!-- <div class="card-body">
                            <h2>PROMISING REWARDS</h2>
                            <div class="row">
                                <div class="col-4">
                                    <div class="pr-reward-1">
                                        <img src="./../../../assets/img/check-mob.png" alt="..">
                                    </div>
                                    <span class="angel"><i class="fa fa-sort-down"></i></span>
                                </div>
                                <div class="col-8">
                                    <div class="pr-reward-2">
                                        <h4>GET HIRED</h4>
                                        <p>Company checks candidate's status as hired.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="pr-reward-1">
                                        <img src="./../../../assets/img/job2-1.png" alt="..">
                                    </div>
                                    <span class="angel"><i class="fa fa-sort-down"></i></span>
                                </div>
                                <div class="col-8">
                                        <div class="pr-reward-2">
                                                <h4>GET REWARD</h4>
                                                <p>Referral reward is automatically sent to your profile.</p>
                                            </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-4">
                                        <div class="pr-reward-1">
                                            <img src="./../../../assets/img/job2-2.png" alt="..">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                            <div class="pr-reward-2">
                                                    <h4>WITHDRAW REWARD</h4>
                                                    <p>Without any limitation, the reward money can be utilised.</p>
                                                </div>
                                    </div>
                                </div>
                        </div> -->
                    </div>
                    <a class="btn btn-span-1" routerLink='/search-jobs'>GO REFER</a>
                </div>
            </div>
            </div>
        </div>
    </section>
<!-- mobile view end -->

<section class="why-refer-1 dis-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="employee-referal">
                        <h2>EMPLOYEE REFERRAL</h2>
                        <div class="row">
                            <div class="col-md-12">
                            <img class="" src="./../../../assets/img/completed-procedure.png" alt="..">
                        </div>
                        <div class="col-md-12">
                                <img class=" mb-186" src="./../../../assets/img/uncertain-rewards.png" alt="..">
                        </div>
                        </div>
                    </div>
                    <span class="vs-1">
                    <img src="./../../../assets/img/vs.png" alt=".." >
                </span>
                <span class="btn-span">
                        <a class="btn btn-span-1" routerLink='/search-jobs'>GO REFER</a>
                </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="jobket-referl">
                        <h2>JOBKET REFERRAL</h2>
                        <div class="row">
                                <div class="col-md-12">
                                        <img class="" src="./../../../assets/img/simple-procedure.png" alt="..">
                                    </div>
                                    <div class="col-md-12">
                                            <img class=" mb-186" src="./../../../assets/img/promissing-rewards.png" alt="..">
                                    </div>
                            </div>
                    </div>
                    <span class="vs-2">
                            <img src="./../../../assets/img/vs.png" alt=".." >
                        </span>
                </div>
            </div>
            
        </div>
        
    </div>
</section>
<section class="higher-chance">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>TESTIMONIALS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 dis-none">
                <div>
                    <img class="w-100" src="./../../../assets/img/ban-1.png" alt="..">
                </div>
            </div>
            <div class="col-md-8 col-12">
                    <div class="higher-box row">
                        <div class="col-sm-3 col-4">
                            <div class="higher-imgholder">
                            <h4>Referrer on Jobket</h4>
                            <img src="./../../../assets/img/4.png" alt="..">
                            <h6>Omprakash Parajati</h6>
                        </div>
                        </div>
                        <div class="col-sm-9 col-8">
                            <div>
                            <p>I was surfing the web as usual when I saw a job opening that I thought would be right for my friend. I went to Jobket’s platform and was surprised to see such a huge reward price for simply referring my friend for the role. And yes!! I have received a bonus of Rs.7000. I am very excited to have earned such a huge amount for helping a friend. Shared this with more friends and now they’re all so excited to help more friends!</p>
                        <a href="https://blog.jobket.in/omprakash-thought-jobkets-referral-programwas-a-clickbait-find-out-if-its-true">VIEW FULL ARTICLE</a>
                        </div>
                    </div>
                    </div>
                    <div class="higher-box row">
                            <div class="col-sm-3 col-4">
                                <div class="higher-imgholder">
                                <h4>Referred candidate</h4>
                                <img src="./../../../assets/img/5.png" alt="..">
                                <h6>Juned Patel</h6>
                                <span>Technical Lead at HCL</span>
                            </div>
                            </div>
                            <div class="col-sm-9 col-8">
                                <div>
                                <p>Thank you so much for finding me the perfect job. Throughout the whole process Jobket supported me & within two days I had a job 
                                        offer. I am now very happy in my new job role and thank you so much. Infact, Jobket also gave me a joining bonus of Rs. 5000 since I was referred by my friend! So transparent and professional! 
                                        I would always happily recommend Jobket.</p>
                            <a href="https://blog.jobket.in/from-an-it-coordinator-to-a-technical-lead-in-the-click-of-a-button">VIEW FULL ARTICLE</a>
                            </div>
                        </div>
                        </div>
                </div>
        </div>
    </div>
</section>
<section class="referral-rewards">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="referral-rewards-top">
                <h2>One referral equals to thousand caring wishes for your friend</h2>
            </div>
        </div>
        </div>
        <div class="row">
           <div class="col-md-12 text-center">
                <div class="referral-rewards-box">
                    <h4>Why not try once?</h4>
                    <a class="btn btn-refer" routerLink='/search-jobs'>GO REFER NOW</a>
                   
                </div>
                <div class="bgimg">
                        <img src="./../../../assets/img/newtry.png" alt="..">
                    </div>
            </div> 
        </div>
       
    </div>
</section>