<section class="about-us-banner mt-50">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-6">
        <h2>A Peep into Jobket!</h2>
      </div>
      <div class="col-md-6 col-6">
        <img src="./../../../assets/img/About Us_Updated.png" alt=".." style="width:100%">
      </div>
    </div>
  </div>
</section>

<section class="about-us-content light-bg">
  <div class="container">
    <div class="card vdo">
      <div class="card-body">
          <div class="row">
              <div class="col-md-6 abt col-12">
                  <iframe class="if-video" width="100%" height="284px" src="https://www.youtube.com/embed/Oku8Jn5BFks?rel=0&amp;loop=1&amp;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="col-md-6 abt-content col-12">
                <h2>
                  <img src="./../../../assets/img/cat.png" alt="..">
                  About Jobket <span></span> </h2>
                  <h3>A unique referral job platform that brings out quality in the hiring process!</h3>
                  <p>Jobket is a platform that allows you to find suitable jobs for yourself and your family & friends. When you refer a good candidate,
                     you not just increase chances of him/her finding a great opportunity but also win yourself rewards. Our only objective is 'Quality hiring'. So simply suggest who you think is the best fit for the job whether they're looking out or not. Callibre is key! </p>
              </div>
            </div>
      </div>
    </div>   
  </div>
</section>
<section class="team">
  <div class="container">
    <div class="card vdo">
      <div class="card-body">
        <div class="row">
          <div class="col-md-10 offset-1 text-center">
            <h2>
              <span></span>
              <img src="./../../../assets/img/cat.png" alt="..">
              Our team
            </h2>
            <p>Talent across fields comes together to ensure we make a better hiring 
              eco-system where it’s a win-win for great talent and also our employer 
              partners.</p>
          </div>
        </div>
        <div class="row">
          <div class="my5-col our-team">
            <span class="our-team-img">
              <img src="./../../../assets/img/daniel-kim.png" alt="..">
            </span>
            <h3>Daniel Kim (Mingi)</h3>
            <h6>CEO, Head of R&D</h6>
          </div>
          <div class="my5-col our-team">
              <span class="our-team-img">
                <img src="./../../../assets/img/conan-kim.png" alt="..">
              </span>
              <h3>Conan Kim(Juhyun)</h3>
              <h6>Director</h6>
            </div>
            <div class="my5-col our-team">
                <span class="our-team-img">
                  <img src="./../../../assets/img/hyun-gong.png" alt="..">
                </span>
                <h3>Hyun Gong(Hyuncheol)</h3>
                <h6>Director</h6>
              </div>
              <div class="my5-col our-team">
                  <span class="our-team-img">
                    <img src="./../../../assets/img/nakul-sethi.png" alt="..">
                  </span>
                  <h3>Nakul Sethi</h3>
                  <h6>Head of Digital Marketing</h6>
                </div>
                <div class="my5-col our-team">
                    <span class="our-team-img">
                      <img src="./../../../assets/img/amrita-gujral.png" alt="..">
                    </span>
                    <h3>Amrita Gujral</h3>
                    <h6>Head of Sales & Marketing</h6>
                  </div>
        </div>
      </div>
    </div>
  </div>
</section>