<section class="pdtb-25 faq light-bg mt-50">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-6">
        <h2>Frequently Asked Questions</h2>
      </div>
      <div class="col-md-6 col-6">
        <img src="./../../../assets/img/FAQ_Updated.png" alt=".." style="width: 100%">
      </div>
    </div>
  </div>
</section>
<section class="pdtb-25">
  <div class="container">
    <div class="card vdo">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-12 faq-img">
            <h2>Let us answer all your queries!</h2>
            <img src="./../../../assets/img/big-cat.png" alt="..">
          </div>
          <div class="col-md-6 col-12 faq-content">
              <div class="accordion" id="accordionExample">
                  <div class="card">
                      <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                              Questions about Referral
                              <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">
                                  <i class="fa fa-plus"></i></button>
                          </h2>
                      </div>
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                              <h5 class="pannel-content">How can I refer a job to my friend?</h5>
                              <p>Simply select the Job Profile that suits your friend the most and refer him
                                  right there. There is a pop up that opens up and you can refer using your
                                  friend’s linkedin, whatsapp, email or facebook. Its just that
                                  simple!
                              </p>

                              <h5 class="pannel-content">Who should I refer?</h5>
                              <p>You should refer someone who has the qualities and skill sets given in the
                                  job description of the opportunity stated. Do match the experience required
                                  and that’s that. It’s as simple as it gets! If you find yourself
                                  the perfect fit, you can apply too. It’s very simple</p>

                              <h5 class="pannel-content">Is there any limitation on the number of referrals I
                                  can make?</h5>
                              <p>As long as your referrals are genuine, Jobket is the platform where you can
                                  recommend as many relevant profiles as you wish. However please do not spam
                                  as our system will do a thorough check of all the referrals
                                  and that affects your validity as a user too.</p>

                              <h5 class="pannel-content">How to check my referral status?</h5>
                              <p>Once you sign in, you can simply go to your Profile page to check the status
                                  of your referral. </p>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" id="headingTwo">
                          <h2 class="mb-0">
                              Questions about Reward
                              <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                                  data-target="#collapseTwo">
                                   <i class="fa fa-plus"></i></button>
                          </h2>
                      </div>
                      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                          <div class="card-body">
                              <h5 class="pannel-content">How soon can I get the reward? </h5>
                              <p>As soon as your friend gets hired, we credit the points in your account. </p>
                              <h5 class="pannel-content">How can I check for the rewards?</h5>
                              <p>You can check the reward in your profile at any given time.</p>
                              <h5 class="pannel-content">What do I do if I don’t get the reward when its due to me?</h5>
                              <p>That usually doesn’t happen. We love giving you rewards! However if there is a skip, please contact Hyperhire team at contact@hyperhire.in to resolve your concern within 24 hours. </p>
                              <h5 class="pannel-content">Can I really win rewards? </h5>
                              <p>Of course we do! It is totally real! We reward you when you make a referral against a job opening and even if you yourself  are the most suited candidate and you apply, you stand to get rewarded. </p>
                              <h5 class="pannel-content">How can I use my rewards? </h5>
                              <p>You can withdraw the points at any given time by clicking on “Withdraw Button”</p>

                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" id="headingThree">
                          <h2 class="mb-0">
                              Questions about Applying
                              <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                                  data-target="#collapseThree"> <i class="fa fa-plus"></i></button>
                          </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                                  <h5 class="pannel-content">Are the job openings listed, genuine?</h5>
                                  <p>The job openings are vetted and the most relevant ones are put out on the listing by our team. All jobs are a 100% trustworthy as we tie up with companies directly to put out their listings.</p>
                                  <h5 class="pannel-content">How can I upload my resume?</h5>
                                  <p> After you sign in to Jobket account, you’ll be prompted to create a Resume. Kindly Fill in all the details to make a perfect Jobket Resume.</p>
                                  <h5 class="pannel-content">How can I check the status on the jobs I applied for?</h5>
                                  <p> You can check the status on your profile at all times. We update the status every 24 hours. </p>
                                  <h5 class="pannel-content">How can I manage in case I do not get any feedback on the jobs applied for?</h5>
                                  <p> It is our promise to pursue each applicant’s profile with directly the HR of the company and get a response. Positive or negative , either way you will surely hear back from us so that you can comfortably plan next.
                                          However we suggest you can apply to multiple suited profiles to ensure that the ball gets rolling and we can pursue your profile across multiple appropriate roles helping you find a job faster. We urge you to read the Job Description of each Job opening as the closer your resume is to the JD, higher are your chances of getting placed.</p>
                              </div>
                      </div>
                  </div>

                 
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>