<section class="myprofile-section-top mt-50 brd">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"></a></li>
              <li class="breadcrumb-item" >
                <div class="dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">My Point
                    <span class="caret"></span></div>     
                  <ul class="dropdown-menu">
                    <li>My profile</li>
                    <li><a routerLink="/myprofile-info/profile/personal">My personal Info  </a></li>
                    <li><a routerLink="/myprofile-info/profile/resume">My Resume</a></li>
                    <li>My Status</li>
                    <li><a routerLink="/myprofile-info/my-status/apply-status">Apply Status</a></li>
                    <li><a routerLink='/myprofile-info/my-status/referal-status'>Referral Status</a></li>
                    <li><a routerLink='/myprofile-info/my-point'>My Point</a></li>
                    <li><a routerLink='/change-password'>Change password</a></li>
                    <li><a (click)="logout()"> Logout</a></li>
                  </ul>
                </div>
              </li>
              </ol>
          </nav>
    </div>
  </section>
<div class="applied-companies">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Summary of My Point</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="offset-3 col-md-8">
                <div class="row">
                    <div class="col-sm-6 col-6">
                        <div class="Rectangle text-center min-358">
                            <div class="bx-2">
                                <img src="./../../../assets/img/rupee.png" alt="..">
                            </div>
                            <h3>{{total_gained_points}}</h3>
                            <p>Total Gained Point</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-6">
                        <div class="Rectangle text-center min-358">
                            <div class="bx-3">
                                <img src="./../../../assets/img/rupee-2.png" alt="..">
                            </div>
                            <h3>{{wallet_balance}}</h3>
                            <p>Total Remaining Point</p>
                            <a class="btn btn-withdraw" (click)="openWithdrawDialog()">Withdraw</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12 details">
                <h2>History</h2>
                <div class="detail-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Earned from</th>
                                <th scope="col">Job Title</th>
                                <th scope="col">Company</th>
                                <th scope="col">Reward Type</th>
                                <th scope="col">Amount(Rs.)</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let rewardsData of rewardsStatusData | paginate: { itemsPerPage: 1, currentPage: page, totalItems: totalPages*1 , id: 'apply'}">
                            <tr>
                                <td>
                                    {{rewardsData.added_at}}
                                </td>
                                <td>
                                    {{rewardsData.applicant_name}}
                                </td>
                                <td>
                                    {{rewardsData.job_title}}
                                </td>
                                <td>
                                    {{rewardsData.company}}
                                </td>
                                <td>
                                    {{rewardsData.reward_type}}
                                </td>
                                <td>
                                    {{rewardsData.reward_amount}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-4">
                <div class="">
                    <nav aria-label="Page navigation example">
                        <div class="pagination">
                            <pagination-controls (pageChange)="pageChange($event)" id="apply" class="my-pagination">
                            </pagination-controls>
                        </div>
                        <!--  <ul class="pagination">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">Previous</span>
                                  Previous
                                </a>
                              </li>
                              <li class="page-item active"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    Next
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                  
                                </a>
                              </li>
                            </ul> -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>