.my-pagination /deep/.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #f9f9f9;
    color: #3e9a81;
    cursor: default;
    border-radius: 30px;
    border: 2px solid green;
}