<section class="pdtb-25">
  <div class="container">
    <div class="row">
      <div class="col-md-7 offset-3 change-password-1">
        <div class="row">
          <div class="col-sm-12 text-center">
              <h2>Reset Password</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
              <form [formGroup]="resetPwdForm">
                  <div class="form-group row">
                    <label for="" class="col-sm-3 col-form-label">NEW PASSWORD</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" 
                      name="pwd" formControlName="pwd" 
                      placeholder="Enter a new password">
                    </div>
                  </div>
                  <div class="form-group row">
                      <label for="" class="col-sm-3 col-form-label">CONFIRM NEW PASSWORD</label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control"  
                         name="cpwd" formControlName="cpwd" 
                         placeholder="Confirm your new password">
                      </div>
                    </div>                 
                  <div class="form-group row">
                    <div class="col-sm-12 text-right">
                      <button type="submit" class="btn btn-green"
                      (click)="resetPwd()">Reset Password</button>
                    </div>
                  </div>
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>