<section class="pdtb-25 ">
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-12">
          <div class="tos mt1-50">
            <h2><span></span> <img src="./../../../assets/img/cat.png" alt=".."> Disclaimer </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pdtb-65">
          <p>This is to inform all concerned that Hyperhire India Pvt. Ltd. provides www.jobket.in as a free service to jobseekers.
              Jobket does not guarantee any interview/meeting/discussion with any employer basis any amount of initial monetary payment by the jobseeker.
              Jobket is not responsible for, and expressly disclaims all liability for, any such communication via email, sms or phone call by a frivolous
               source claiming to have got the contact details of the person concerned through or representing www.jobket.in. 
              Jobseekers are advised not to indulge in any monetary engagement with such sources in the name of guaranteed interviews with employers.</p>
      </div>
    </div>
  </div>
</section>





