
<section class="pdtb-25">
  <div class="container">
    <div class="row">
      <div class="col-md-7 offset-3 change-password-1">
        <div class="row">
          <div class="col-sm-12 text-center">
              <h2>Forgot Password</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
               <form [formGroup]="forgetPwdForm">
                  <div class="form-group row">
                    <label for="" class="col-sm-3 col-form-label">EMAIL</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="email"  
                      placeholder="Enter your Email" formControlName="email">
                    </div>
                  </div>
                   <div class="form-group row">
                    <div class="col-sm-12 text-right">
                      <button type="submit" class="btn btn-green"
                      (click)="forgotPwd()">Send Reset Instructions
                      </button>
                    </div>
                  </div>
               </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
