<section class="internation-banner">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="internation-banner-1 internation-banner-text">
        <h2>Have you ever dreamed of a global career? </h2>
        <p>Now kickstart your career journey with Jobket!</p>
      </div>
    </div>
  </div>
</div>
</section>
<section class="go-global">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Go Global, Why Not?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-2 go-global-bottom">
        <div class="row">
            <div class="col-5">
                <div class="bigger-opportunity">
                  <img src="./../../../assets/img/bigger-opportunity.png" alt="..">
                  <h4>BIGGER OPPORTUNITIES</h4>
                  <span></span>
                </div>
              </div>
              <div class="col-2">
                <div class="icon-plus">
                  <i class="fa fa-plus"></i>
                </div>
              </div>
              <div class="col-5">
                <div class="working-environment">
                  <img src="./../../../assets/img/better-working-environment.png" alt="..">
                  <h4>BETTER WORKING ENVIRONMENT</h4>
                  <span></span>
                </div>
              </div>
        </div>
      </div>
     
    </div>
  </div>
</section>
<section class="global-career-journey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h2>Jobket : Your Key Enabler for Your Global Career Journey</h2>
    </div>
  </div>
  <div class="row dis-none">
    <div class="col-md-12">
      <div class="global-partners">
        <p>Jobket eases your transition 
            by <span>supporting settlement</span> via 
            global partners</p>
      </div>
    </div>
    <div class="col-md-12">
      <img class="w-100" src="./../../../assets/img/global-career-journey.png" alt="..">
    </div>
    <div class="col-md-6">
      <div class="relocation-process">
        <p>Jobket takes responsibility to 
            provide <span>clear and transparent 
            details</span> of the job profile & the 
            relocation process</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="subsidy-settelment">
        <p>Jobket provides a 
           <span>joining bonus</span> as a 
            subsidy for settlement</p>
      </div>
    </div>
  </div>
  <!-- mobile-view start-->
  <div class="global-career-journey-mobile">
  <div class="row ">
    <div class="col-5">
      <div class="global-career-journey-mobile-img">
      <img src="./../../../assets/img/global-career-journey-mobile.png" alt="..">
    </div>
    </div>
    <div class="col-7">
      <div class="row">
            <div class="relocation-process">
              <h3>APPLY</h3>
                <p>Jobket takes responsibility to 
                    provide <span>clear and transparent 
                    details</span> of the job profile & the 
                    relocation process</p>
              </div>
      </div>
      <div class="row">
            <div class="relocation-process relocation-process-1">
                <h3>INTERVIEW</h3>
                </div>
      </div>
      <div class="row">
          <div class="relocation-process ">
              <h3>DOCUMENT
                  VERIFICATION</h3>
              </div>
    </div>
    <div class="row">
        <div class="relocation-process relocation-process-2">
          <h3>JOB OFFER</h3>
            <p>Jobket provides a <span>joining 
                bonus</span> as a subsidy for 
                settlement</p>
          </div>
  </div>
  <div class="row">
      <div class="relocation-process relocation-process-3">
        <h3>SETTLEMENT SUPPORT</h3>
          <p>Jobket eases your transition 
              by <span>supporting settlement</span> via global partners</p>
        </div>
</div>
    </div>
  </div>
</div>
  <!-- mobile-view end-->
  </div>
</section>
<section class="global-careere">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Kick-Start your Dream Global Career with Jobket now!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-1">
    <div class="row">
      <div class="col-4 gf-pdr">
        <div class="global-flag">
          <img src="./../../../assets/img/South_Korea.png" alt="..">
          <h5>JOBS IN KOREA</h5>
        </div>
      </div>
      <div class="col-4 gf-pd">
        <div class="global-flag">
          <img src="./../../../assets/img/japan-flag.png" alt="..">
          <h5>JOBS IN JAPAN</h5>
        </div>
      </div>
      <div class="col-4 gf-pdl">
        <div class="global-flag">
          <img src="./../../../assets/img/united-arab-emirates.png" alt="..">
          <h5>JOBS IN UAE</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-3">
    <div class="row">
      <div class="col-6 gf-cl">
          <div class="global-flag">
              <img src="./../../../assets/img/singapore.png" alt="..">
              <h5>JOBS IN SINGAPORE</h5>
            </div>
      </div>
      <div class="col-6 gf-cl1">
          <div class="global-flag">
              <img src="./../../../assets/img/australia-flag.png" alt="..">
              <h5>JOBS IN AUSTRAILIA</h5>
            </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <a routerLink="/search-jobs-in-International" class="btn btn-internation-job">VIEW ALL INTERNATIONAL JOBS</a>
  </div>
</div>
  </div>
</section>