<div class="pt-0">
    <div mat-dialog-content>
        <span class="popup-close text-dark"><i class="fa fa-times"></i></span>
        <div class="row">
            <div class="col-md-6">
                <div class="signup-sec-1 text-white text-center ">
                    <div class="login-logo">
                        <h2>Welcome Back!</h2>
                        <p>To stay connected, please log in with your personal information!</p>
                        <a class="btn btn-signup">Login</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="login-sec-1 text-center">
                    <img src="./../../../assets/img/logo.png" alt="..">
                    <h2>Create your account</h2>
                    <p>Share your details and activate Jobket</p>
                    <div class="social-login row">
                        <ul>
                            <li><a><i class="fa fa-facebook"></i></a></li>
                            <li><a><i class="fa fa-linkedin"></i></a></li>
                            <li><a><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <div class="seprator row">
                        <h4>OR</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group text-justify">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="email" class="form-control" placeholder="Your email address">
                                </div>
                                <div class="form-group text-justify">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" placeholder="Your password">
                                </div>
                                <button type="submit" class="btn btn-login-green">Sign up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>